<%= form_for(@steppy) do |f| %>
  <% if @steppy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steppy.errors.count, "error") %> prohibited this steppy from being saved:</h2>

      <ul>
      <% @steppy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="maincont formpgs2">
  <p>
      <h1 style="font-size:24px; font-weight:bold; padding-bottom:30px;">Create a new Staircase!</h1>
    </p>
  
  <% if @steppy.ask.present? %>
    <% @steppy.goal = @steppy.ask %>
    <% @steppy.ask = "" %>
  <%end %>


  <form role="form" class="form-horizontal">
  <div class="">
  <div class="field">
    <p class="myh3">Occupation for Staircase:</p>
    <%= f.text_field :goal, :class => "form-control"%>
  </div>
  <div class="field">
    <p class="myh3">What region is it for?</p>
    <%= f.text_field :region, :class => "form-control" %>
  </div>
  <div class="field">
    <p class="myh3">Anything you want to mention before you start? Keep it short!</p>
    <%= f.text_area :description, :class => "form-control ckeditor", :style => "height: 80px;" %>
  </div>
  <div class="field">
    <p class="myh3">Step 1</p>
    <%= f.text_field :step1, :class => "form-control" %>
  </div>
  <div class="field">
    <p class="myh3">Step 2</p>
    <%= f.text_field :step2, :class => "form-control" %>
  </div>
  <div class="field">
    <p class="myh3">Step 3</p>
    <%= f.text_field :step3, :class => "form-control" %>
  </div>


  <div class="field addstep">
    <p class="myh3">Step 4</p>
    <%= f.text_field :step4, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 5</p>
    <%= f.text_field :step5, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 6</p>
    <%= f.text_field :step6, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 7</p>
    <%= f.text_field :step7, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 8</p>
    <%= f.text_field :step8, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 9</p>
    <%= f.text_field :step9, :class => "form-control" %>
  </div>
  <div class="field addstep">
    <p class="myh3">Step 10</p>
    <%= f.text_field :step10, :class => "form-control" %>
  </div>
  
  <div class="moresteps btn btn-success" id="more">
    + Add a Step
  </div>

  <div class="field">
    <p class="myh3">Category:</p>
    <%= f.select :categories, {"Career"=>"Career","Life Style"=>"Life Style","Do It Yourself"=>"Do It Yourself","Other"=>"Other"}, {}, { :class => 'form-control categories' }%>
  </div>

  <div class="field subcat">
    <p class="myh3">Sub Category:</p>
    <%= f.select :categories, {"Career"=>"Career","Life Style"=>"Life Style","Do It Yourself"=>"Do It Yourself","Other"=>"Other"}, {}, { :class => 'form-control' }%>
  </div>

  <div class="field subcat2">
    <p class="myh3">Sub Category2:</p>
    <%= f.select :categories, {"Career"=>"Career","Life Style"=>"Life Style","Do It Yourself"=>"Do It Yourself","Other"=>"Other"}, {}, { :class => 'form-control' }%>
  </div>

  <div class="field subcat3">
    <p class="myh3">Sub Category3:</p>
    <%= f.select :categories, {"Career"=>"Career","Life Style"=>"Life Style","Do It Yourself"=>"Do It Yourself","Other"=>"Other"}, {}, { :class => 'form-control' }%>
  </div>

  <div class="field subcat4">
    <p class="myh3">Sub Category4:</p>
    <%= f.select :categories, {"Career"=>"Career","Life Style"=>"Life Style","Do It Yourself"=>"Do It Yourself","Other"=>"Other"}, {}, { :class => 'form-control' }%>
  </div>

  <%= f.text_field :ask, :class => "form-control hide" %>


  </br>
  <div class="actions"><%= f.submit "Post!", :class => "btn btn-danger bw", :style => "width: 100%;" %></div>


  
</div>  
</div>
</form>

<script>
      $(document).ready(function() {

      $("#more").click(function(){
         $(".addstep").slideDown( 'slow', function(){ 
             $(".log").text('Slide Down Transition Complete');
          });
      });
   });
</script>
<!--
<script>
  $(".categories").change(function(){

     $(".subcat").css( "display","inherit" );

  });
</script>
-->
<script>
  

  $(".categories").change(function(){
   var target = $(this).val();


      if(target == "Career")
          $(".subcat").css( "display","inherit" ),
          $(".subcat2, .subcat3, .subcat4").css( "display","none" );
      else if(target == "Life Style")
          $(".subcat2").css( "display","inherit" ),
          $(".subcat, .subcat3, .subcat4").css( "display","none" );
      else if(target == "Do It Yourself")
          $(".subcat3").css( "display","inherit" ),
          $(".subcat2, .subcat, .subcat4").css( "display","none" );
      else if (target == "Other")
          $(".subcat4").css( "display","inherit" ),
         $(".subcat2, .subcat3, .subcat").css( "display","none" );


});


</script>
<% end %>
