<%= form_for(@steppy) do |f| %>
  <% if @steppy.errors.any? %>
    <div id="error_explanation notice">
      <h2><%= pluralize(@steppy.errors.count, "error") %> prohibited this steppy from being saved:</h2>

      <ul>
      <% @steppy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="background-color: white;padding: 20px;">
  <div class="formbody">
  <p>
    <h1 style="font-size:24px; font-weight:bold; padding-bottom:30px;">What is your request?</h1>
  </p>
  <form role="form" class="form-horizontal">
  <div class="field">
    <p class="myh3">For what occupation do you want to create a Staircase for?</p>
    <%= f.text_field :ask, :class => "form-control" %>
  </div>
  <div class="field">
    <p class="myh3">For what region?</p>
    <%= f.text_field :region, :class => "form-control" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit "Ask!", :class => "btn btn-danger bw" %>
  </div>
  </div>
  </div>
</div>


<% end %>
