<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div style="background-color: white;margin-top: 20px;padding: 20px;">
    <div styke="padding:20px;">
        <div class="row" style="margin:auto;">
            <div class="col-md-7">
                <div class="frontpage">
                    <h1 style="margin-top: 0px;color: #66757f;font-size: 22px;font-weight: 200;line-height: 22px;font-family: Arial,sans-serif;">Newest Staircases</h1>
                    <% @steppy = Steppy.order('created_at DESC')%>

                    <% @steppy.each do |steppy| %>
                        <% if steppy.goal.present? %>
                            <div class="goal_panel_new">
                                <%= link_to steppy do%>
                                <div>
                                    <div class="">How to become a <b style="color:cornflowerblue;"><%= steppy.goal.capitalize %></b></div>
                                </div>
                                <% end %>
                            </div>
                        <% else %>        
                        <% end %>
                    <% end %>
                </div> 
                <div class="frontpage">
                    <h1 style="margin-top: 0px;color: #66757f;font-size: 22px;font-weight: 200;line-height: 22px;font-family: Arial,sans-serif;">Recently Requested Staircases</h1>
                    <% @steppy = Steppy.order('created_at DESC')%>

                    <% @steppy.each do |steppy| %>
                        <% if steppy.ask.present? %>        
                            <div class="goal_panel_new">
                                <%= link_to steppy do%>
                                    <div>
                                        <div class="goal">How do I become a <%= steppy.ask.capitalize %>?</div>
                                    </div>
                                <% end %>
                            </div>
                        <% else %>
                        <% end %>
                    <% end %>

                </div> 

            </div>
           
            <div class="col-md-5">
                <div class="catps"style="margin-left:10px;">
                    <h1 style="margin-top: 0px;color: #66757f;font-size: 22px;font-weight: 200;line-height: 22px;font-family: Arial,sans-serif;">Categories</h1>
                    <p>♫ Arts and Entertainment</p>
                    <p>ϟ Computers and Electronics</p>
                    <p>✎ Education</p>
                    <p>$ Finance and pusiness</p>
                    <p>% Food</p>
                    <p>☼ Health</p>
                    <p>✌ Hobbies</p>
                    <p>♞ Sports</p>
                    <p>ツ Lifestyle</p>
                    <p>¿ Other</p>
                </div>
            </div>
        </div>









    </div>
</div>



