<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="banner">
    <div class="header">
        <h1 class="bannertxt" style="font-size:28px; color:black;">Its hard to know what your first step should be.</h1>
        <h1 class="bannertxt hb2" style="font-size:28px; color:black;">How do I become a..?</h1>
        <p class="subhead">Find out what steps you need to take to achieve your goals!</p>
    </div>
    <div class="search">
        <div class="insearch">
            <div class="row">
                <%= form_tag steppies_searchresult_path, :method => 'get', :class => "form-inline" do %>
                    <div class="form-group navw7">
                        <%= text_field_tag :search, params[:search], :class => "form-control" %>
                    </div>
                    <div class="form-group navw3">
                        <%= submit_tag "Search", :name => nil, :class => "btn btn-success sbtn acolor"  %>
                    </div>
                <% end %>
            </div>
       </div>
    </div>
</div>




<div class="row maincont">
    <div class="col-md-6 bg">
        <h1 style="text-align:center;">Newest Staircases</h1>
        <% @steppy = Steppy.order('created_at DESC')%>

        <% @steppy.each do |steppy| %>
            <% if steppy.goal.present? %>
                <div class="goal_panel_new">
                    <%= link_to steppy do%>
                    <div>
                        <div class="">How to become a <b style="color:cornflowerblue;"><%= steppy.goal %></b></div>
                    </div>
                    <% end %>
                </div>
            <% else %>        
            <% end %>
        <% end %>
        <br/>
    </div>




    <div  style="" class="col-md-6">
        <h1 style="text-align:center;">Recently Requested Staircases</h1>
        <% @steppy = Steppy.order('created_at DESC')%>

        <% @steppy.each do |steppy| %>
            <% if steppy.ask.present? %>        
                <div class="goal_panel_new">
                    <%= link_to steppy do%>
                        <div>
                            <div class="goal"><%= steppy.ask %></div>
                        </div>
                    <% end %>
                </div>
            <% else %>
            <% end %>
        <% end %>
    </div>
</div>