<h1>Search Results For How To Be A <%= params[:search] %> </h1>

<div class="maincont formpgs">
	<% if search().present? %>
		<% search().each do |result| %>
		  <div style="" class="searchresults">
		  	<div><%= link_to result.goal, steppy_path(result) %> in <%= result.region %></div>
		  	<% if result.description.present? %>
		  		<div style="font-size:14px;"><%= result.description %></div>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% else %>
		  		<p style="font-size:14px; color:grey; margin:0;">No description.</p>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% end %>
		  </div>
		<% end %>

	<% else %>

		<p style="color:red;">Your search did not return anything! Try again or creat a steppy for this!</p>
		<p><%= link_to 'Request a Staircase!', steppies_ask_path, :class => '' %></p>
		<div class="">
                <%= form_tag steppies_searchresult_path, :method => 'get', :class => "form-inline" do %>
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search], :class => "form-control", :style => "width:460px;" %>
                    </div>
                    <div class="form-group">
                        <%= submit_tag "Search", :name => nil, :class => "btn btn-success sbtn acolor"  %>
                    </div>
                <% end %>
       </div>
	<% end %>
</div>


