<div class="maincont formpgs">
	<h1 style="margin-bottom:50px;"><b><%= @user.username %>'s</b> Steppy Profile</h1>
	<div>
		<h4>Climbs Started:</h4>
		<span></span>
		<% @following.each do |result| %>
		  <div style="" class="searchresults">
		  	<div><%= link_to result.goal, steppy_path(result) %> in <%= result.region %></div>
		  	<% if result.description.present? %>
		  		<div style="font-size:14px;"><%= result.description %></div>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% else %>
		  		<p style="font-size:14px; color:grey; margin:0;">No description.</p>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% end %>
		  </div>
		<% end %>	
	</div>
	<div>
		<h4>Staircases Created:</h4>
		<% @steppy.each do |result| %>
		  <div style="" class="searchresults">
		  	<div><%= link_to result.goal, steppy_path(result) %> in <%= result.region %></div>
		  	<% if result.description.present? %>
		  		<div style="font-size:14px;"><%= result.description %></div>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% else %>
		  		<p style="font-size:14px; color:grey; margin:0;">No description.</p>
		  		<div style="font-size:14px; color:grey;">Created <%= time_ago_in_words(result.created_at) %> ago.</div>
		  	<% end %>
		  </div>
		<% end %>
	</div>
</div>