<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>







	<div class="row" style="margin:auto;background-color: white;padding: 20px;padding-top:0px;margin-bottom:20px;">
		<div class="col-md-3 leftexplr menu-small" style="padding-top:35px;width: 21%;padding-left: 12px;">			
			<% if @user.avatar.present? %>
				<div class="avatar" style="background:url(<%= @user.avatar%>) center center no-repeat;background-size: 100%;box-shadow:0px 0px 0px grey;border-right:solid 1px lightgrey;">
					
				</div>
			<% else %>
				<div class="avatar">
					<img src="/assets/profile.jpg" alt="User Avatar" style="height:auto; width:auto; max-width:200px; max-height:200px;">
				</div>
			<% end %>
			
			<p style="margin-top:20px;margin-top: 20px;padding: 0px;font-size: 20px;line-height: 1.3;font-weight: 400;font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;color: #333;"><%= @user.username.capitalize %></p>
					
			<p style="padding: 0px;font-size: 13px;font-weight: 100;color: #999;">Goals:</p>
			<% allfollows = @user.all_follows(order: "follows.id DESC") %>
			<% allfollows.each do |item| %>

				<% @steppy = Steppy.find(item.followable_id) %>
				<div class="center_small"><a href="#" style="color:#999;" id="<%= @steppy.goal.gsub(/\s+/, "")%>"><%= @steppy.goal.capitalize %></a></div>
			<%end%>	
			<div class="center_small" style="margin-top:20px;">
				<%= link_to 'Edit Profile', edit_user_path(@user), :style =>"padding: 5px;background-color: rgb(250, 250, 250);color: rgb(197, 197, 197);" %>
			</div>

		</div>

		<div class="col-md-9 noleftpadding" style="padding-top:33px;padding-left: 30px;">
			<h1 class="center_small" style="font-weight: 100;color: #999;margin-top: 0px;padding-bottom: 10px;border-bottom: 1px solid #F5F5F5;font-size: 16px;line-height: 22px;">Goals <%= @user.username.capitalize %> is climbing towards</h1>		  		
	    		<% if current_user %>
					<% @chklist = Checklist.where(:chk_user_id => @user.username).first %>
					<% if current_user && @chklist.present? %>
						<% allfollows = @user.all_follows(order: "follows.id DESC") %>

						<% allfollows.each do |item| %>
						<div class="row noleftpadding" style="padding-left:16px;">
							<% @steppy = Steppy.find(item.followable_id) %>
							<% @chklist = Checklist.where(:chk_user_id => @user.username, :chk_steppy_id => @steppy.goal).first %>


							<!--% logic-->
							<%if @steppy.step10.present?%>
								<% @prog = 100.0%>
							<%elsif @steppy.step9.present?%>
								<% @prog = 90.0%>
							<%elsif @steppy.step8.present?%>
								<% @prog = 80.0%>
							<%elsif @steppy.step7.present?%>
								<% @prog = 70.0%>
							<%elsif @steppy.step6.present?%>
								<% @prog = 60.0%>
							<%elsif @steppy.step5.present?%>
								<% @prog = 50.0%>	
							<%elsif @steppy.step4.present?%>
								<% @prog = 40.0%>							
							<% else %>
								<% @prog = 30.0  %>
							<%end%>

							<% if @chklist.chk10 == "Done!" %>
								<% @progchk10 = 100.0 %>
							<% else %>
								<% @progchk10 = 0  %>
							<% end %>
							<% if @chklist.chk9 == "Done!" %>
								<% @progchk9 = 100.0 %>
							<% else %>
								<% @progchk9 = 0  %>
							<% end %>
							<% if @chklist.chk8 == "Done!" %>
								<% @progchk8 = 100.0 %>
							<% else %>
								<% @progchk8 = 0  %>
							<% end %>
							<% if @chklist.chk7 == "Done!" %>
								<% @progchk7 = 100.0 %>
							<% else %>
								<% @progchk7 = 0  %>
							<% end %>
							<% if @chklist.chk6 == "Done!" %>
								<% @progchk6 = 100.0 %>
							<% else %>
								<% @progchk6 = 0  %>
							<% end %>
							<% if @chklist.chk5 == "Done!" %>
								<% @progchk5 = 100.0 %>
							<% else %>
								<% @progchk5 = 0  %>
							<% end %>
							<% if @chklist.chk4 == "Done!" %>
								<% @progchk4 = 100.0 %>
							<% else %>
								<% @progchk4 = 0  %>
							<% end %>
							<% if @chklist.chk3 == "Done!" %>
								<% @progchk3 = 100.0 %>
							<% else %>
								<% @progchk3 = 0  %>
							<% end %>
							<% if @chklist.chk2 == "Done!" %>
								<% @progchk2 = 100.0 %>
							<% else %>
								<% @progchk2 = 0  %>
							<% end %>
							<% if @chklist.chk1 == "Done!" %>
								<% @progchk1 = 100.0 %>
							<% else %>
								<% @progchk1 = 0  %>
							<% end %>
						
							<!--
							<p>prog(#of steps):<%= @prog %></p>
							<p>progchk(# of steps done):<%= @progchk = @progchk1 + @progchk2 + @progchk3 + @progchk4 + @progchk5 + @progchk6 + @progchk7 + @progchk8 + @progchk9 + @progchk10 %></p>
							-->								
							<% ans = (@progchk / @prog ) *10 %>

							<div class="col-md-2">
								<% if ans == 100 %>
									<div class="progressbox_done">
								<% else %>
									<div class="progressbox">
								<% end %>
										<p class="progress_perc"><%= ans.round %>%</p>
									</div>
							</div>

							<div class="col-md-8">
								<div> 
								    
								    
								    <div class="list">
								    	<div class="listh">						
									    	<%= link_to @steppy.goal.capitalize, steppy_path(@steppy), :style => "margin-top:20px;margin-top: 20px;padding: 0px;font-size: 20px;line-height: 1.3;font-weight: 400;color: #333;", class: @steppy.goal.gsub(/\s+/, "") %>
									    </div>
									    <script>
									    $(document).ready(function() {
		
											/* scroll to #navigation */
												
												$("#<%=@steppy.goal.gsub(/\s+/, "")%>").click(function (e) {
													e.preventDefault();
													scrollToElement(".<%=@steppy.goal.gsub(/\s+/, "")%>");
												});
										});
										</script>
									    <div class="row" style="margin-top: 5px;margin-bottom: 10px;">
											<div class="col-md-11 chklinks marginright" style="margin-left: 15px;">	


											<div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk1 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "1", checklist_path(@chklist, "checklist[chk1]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk1]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step1 %>
								                  </p>
								                </div>
								            </div>   


								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk2 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "2", checklist_path(@chklist, "checklist[chk2]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk2]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step2 %>
								                  </p>
								                </div>
								            </div> 


								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk3 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "3", checklist_path(@chklist, "checklist[chk3]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk3]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step3 %>
								                  </p>
								                </div>
								            </div> 


											<% if @steppy.step4.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk4 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "4", checklist_path(@chklist, "checklist[chk4]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk4]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step4 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>

											<% if @steppy.step5.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk5 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "5", checklist_path(@chklist, "checklist[chk5]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk5]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step5 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>


											<% if @steppy.step6.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk6 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "6", checklist_path(@chklist, "checklist[chk6]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk6]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step6 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>


											<% if @steppy.step7.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk7 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "7", checklist_path(@chklist, "checklist[chk7]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk7]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step7 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>


											<% if @steppy.step8.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk8 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "8", checklist_path(@chklist, "checklist[chk8]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk8]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step8 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>


											<% if @steppy.step9.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk9 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "9", checklist_path(@chklist, "checklist[chk9]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk9]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step9 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>


											<% if @steppy.step10.present? %>
								            <div class="row steppybx2 " style="width: 100%;margin-left: 1px;">
								                <div class="col-md-1" style="padding-top: 3px;">
								                <% if @chklist.chk10 == "Done?" %>
								                  	<p style="font-size:20px;" class="numbs numbs2"><%= link_to "10", checklist_path(@chklist, "checklist[chk10]" => "Done!"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;" %></p>
								                <% else %>
								                	<p style="font-size:20px;background-color: cornflowerblue;" class="numbs numbs2 done"><%= link_to "✔", checklist_path(@chklist, "checklist[chk10]" => "Done?"), method: :put, :style => "display:block;padding-bottom:4px;padding-top:4px;"  %></p>
								                <% end %>
								                </div>
								                <div class="col-md-11" style="padding-top: 14px;">
								                  <p style="font-size:14px;margin-bottom:0px">
								                    <%= @steppy.step10 %>
								                  </p>
								                </div>
								            </div>
								            <%end%>
								            <div style="float:right;margin-top: -10px;"><%= link_to 'Give Up?', unfollow_path(@steppy), :style => "text-align: right; color: #C0C0C0;font-size: 12px;font-weight:bold;" %></div>




												


												


</div>
											</div>
											</div>
											</div>   
											 
										</div>
									</div>
							<% end %> 
						</div>
						<% end %>
				<% end %>
				<br>
				<div class="div" style="text-align:center;">
					<a href="/steppies" class="btn btn-primary">Add More Goals!</a>
				</div>
	    </div>
<script src="js/scroll_profile.js"></script>






			