<p id="notice"><%= notice %></p>

<p>
  <b>Chk1:</b>
  <%= @checklist.chk1 %>
</p>

<p>
  <b>Chk2:</b>
  <%= @checklist.chk2 %>
</p>

<p>
  <b>Chk3:</b>
  <%= @checklist.chk3 %>
</p>

<p>
  <b>Chk4:</b>
  <%= @checklist.chk4 %>
</p>

<p>
  <b>Chk5:</b>
  <%= @checklist.chk5 %>
</p>

<p>
  <b>Chk6:</b>
  <%= @checklist.chk6 %>
</p>

<p>
  <b>Chk7:</b>
  <%= @checklist.chk7 %>
</p>

<p>
  <b>Chk8:</b>
  <%= @checklist.chk8 %>
</p>

<p>
  <b>Chk9:</b>
  <%= @checklist.chk9 %>
</p>

<p>
  <b>Chk10:</b>
  <%= @checklist.chk10 %>
</p>


<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
