<!DOCTYPE html>
<html lang="en">
<head>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
	  <meta property="og:image" content="http://steppy.herokuapp.com/assets/steppy_thumb.png" />
	  <meta property="og:title" content="Steppy" />
	  <meta property="og:description" content="Stepping towards your goals!" />
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Steppy - Stepping towards your goals!</title>

      <style id="holderjs-style" type="text/css"></style>
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="box-shadow:0px 0px 0px;">
	
	  <div class="container-fluid top_page">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="/steppies"><img src="/assets/steppy.png" alt="Steppy" style="margin-top: 5px;padding-left: 5px;"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--
          <li><%= link_to 'Request a Staircase!', steppies_ask_path, :class => '' %></li>
          <li><%= link_to 'Create a Staircase!', new_steppy_path, :class => '' %></li>
        -->
          <li><a href="/steppies">Explore</a></li>
          <!--
          <li><a href="/steppies">Create</a></li>
          <li><a href="#">Request</a></li>
          -->
          <li><a href="/steppies/about.html">About</a></li>
        </ul>
    	 	     
	      <ul class="nav navbar-nav navbar-right">  
	        <% if current_user %>
	        	<li><%= link_to current_user.username.capitalize, current_user %></li>
	        	<li><%= link_to "Log Out", logout_path %></li>
	        <% else %>
	        	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
		          <ul class="dropdown-menu" style="width: 250px;padding: 20px;">
		          	<%= form_tag sessions_path do %>
		            <li><%= text_field_tag :username, nil, placeholder:"Username", :class => "form-control fw"  %></li>
		            <li><%= password_field_tag :password, nil, placeholder:"Password",  :class => "form-control fw"  %></li>
		            <li><%= submit_tag "Log in", :class => "btn btn-warning" %></li>

		            <% end %>
		          </ul>
		        </li>
	        	<li><%= link_to "Sign Up", new_user_path %></li>
			    <% end %>

          <%= form_tag steppies_searchresult_path, :method => 'get', :class => "navbar-form navbar-left" do %>
            <div class="form-group" style="padding-top: 4px;">
                <%= text_field_tag :search, params[:search], :class => "form-control", :style=>"height: 27px;" %>
            </div>
            <div class="form-group" style="padding-top: 4px;">
                <%= submit_tag "Search", :name => nil, :class => "btn btn-default sbtn acolor", :style=>"height: 27px;padding-top: 2px;"  %>
            </div>
          <% end %>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	



	<%if current_page? root_path %>
  
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div alt="First slide" style="width: 100%;height: 100%;background-image: url('http://www.alsenz-apotheke.de/upload/Mann-auf-Berggipfel.jpg');background-size: cover;"></div>

          <div class="container-fluid">
            <div class="carousel-caption">
              <h1>Connect with people who will help you achieve your goals. And help others achieve theirs too!</h1>
              <h2>Take your first step with us</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div alt="Second slide" style="width: 100%;height: 100%;background-image: url('https://scontent-a-iad.xx.fbcdn.net/hphotos-ash3/t1/1656301_275649689252063_1231391741_n.png');background-size: cover;"></div>
          <div class="container-fluid">
            <div class="carousel-caption">
              <h1 style="padding-bottom:140px;">we will be your counselors, advisors and strategists </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <div alt="Third slide" style="width: 100%;height: 100%;background-image: url('https://scontent-a-iad.xx.fbcdn.net/hphotos-ash3/t1/1656301_275649689252063_1231391741_n.png');background-size: cover;"></div>
          <div class="container-fluid">
            <div class="carousel-caption">
              <h1>to help you achieve your goals.</h1>
              <p style="padding-bottom:120px;padding-top:25px;"><a class="btn btn-lg btn-primary" href="/steppies" role="button">Try!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container-fluid to center all the content. -->
    <div class="container-fluid">
    <div class="container-fluid marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" stlye="text-align: left;">
          <div class="front_panel" style="min-height:238px;box-shadow:1px 1px 6px lightgrey;">
            <h2 style="text-align:left;padding-left: 10px;margin-top: 8px;font-size: 22px;">Newest Steppies</h2>
            <div class="row" style="padding: 10px;background-color: #D4EAF8;">

                
                
                <% @steppies_having_ask = Steppy.where("ask IS NOT NULL AND ask != ''").order('created_at DESC').limit(6) %>
                <% @steppies_having_goal = Steppy.where('goal IS NOT NULL').order('created_at DESC').limit(6) %>
                
                


                <% @steppies_having_goal.each do |steppy| %>

 
                        <%= link_to steppy do%>
                            <div>       
                                <div>
                                    <li class="front_panel_new" style="list-style-type: square;">How to become <%= steppy.goal.indefinite_article %> <%= truncate(steppy.goal.split.map(&:capitalize).join(' '), :length => 150) %></li>
                                </div>
                            </div>
                        <% end %>  
                
                <% end %>
             
            </div>
            <p  style="text-align:right;padding-top: 10px;margin-bottom: 0px;"><a class="btn btn-primary" href="/steppies" role="button">View more »</a></p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="front_panel" style="min-height: 238px;box-shadow:1px 1px 6px lightgrey;">
            <h2 style="text-align:left;padding-left: 10px;margin-top: 8px;font-size: 22px;">Recently Requested Steppies</h2>
            <div class="row" style="padding: 10px;background-color: #D4EAF8;">
              
          
              <% @steppies_having_ask.each do |steppy| %>
                  
                      
                          <div>       
                              <div>
                                <%= link_to steppy do%>
                                  <li class="front_panel_new" style="list-style-type: square;">How to become  <%= steppy.ask.indefinite_article %>  <%= truncate(steppy.ask.split.map(&:capitalize).join(' '), :length => 150) %></li>
                                <% end %> 
                              </div>
                          </div>
                       
                  
              <% end %>
            </div>
            <p  style="text-align:right;padding-top: 10px;margin-bottom: 0px;"><a class="btn btn-primary" href="/steppies" role="button">View more »</a></p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="front_panel" style="height: 258px;box-shadow:1px 1px 6px lightgrey;">
            <h2 style="text-align:left;padding-left: 10px;margin-top: 8px;font-size: 22px;">Featured</h2>
            <div class="row" style="text-align: center;">
              <img src="http://www.alsenz-apotheke.de/upload/Mann-auf-Berggipfel.jpg" alt="" style="width:358;height:140px;">
    
            </div>
            <p  style="text-align:right;padding-top: 10px;margin-bottom: 0px;"><a class="btn btn-primary" href="/steppies" role="button">View more »</a></p>
          </div>
        </div>
        <!--
        <div class="col-lg-4">
          <img class="img-circle" >
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      -->
      </div><!-- /.row -->

    <!-- START THE FEATURETTES -->
    
      <div class="container-fluid" style="background-color:white;">
      <hr class="featurette-divider">

      <div class="row featurette">
        <h2 class="featurette-heading" style="margin-top:0px;text-align:center;">Step by Step, accomplish your goals</h2>
        <h2 class="featurette-heading" style="font-size: 37px;margin-top:0px;text-align:center;"><span class="text-muted"><b>Steppy</b> is the best way. It'll blow your mind.</span></h2>
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" >
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Always wanted to become a Doctor?</h2>
          <p class="lead">Steppy will guide you from your first step to last until you reach your goal! </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" >
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Keep track of your progress!</h2>
          <p class="lead">We all know its not easy to keep track of your progress, and for certain goals it may take a long time but don’t worry, the world is here to cheer you on - Right from your profile page.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Mission accomplished?</h2>
          <p class="lead">Be someone’s role model!Share your achievements with the public. Now that you’re an expert at your field, give other’s your input by creating a “staircase” of your own!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" >
        </div>
      </div>
      <hr class="featurette-divider">
      <p style="text-align:center;padding-top: 200px;padding-bottom: 200px;"><a class="btn btn-lg btn-primary" href="/steppies" role="button" >Start Climbing!</a></p>
      <hr class="featurette-divider" style="border-top: 1px solid white;">


      

      <!-- /END THE FEATURETTES -->

      </div>
    </div>

    </div>
    <% end %>








	
		
    <%if current_page? root_path %>
    <div class="page" style="min-height: 0%;">
      
    <%else%>
    <div class="page">
		  <div class="appcont">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    <% end %>
			
		

		</br>
		<div class="footer2">
      <div class="container-fluid">
        <!--<p style="text-align:center; color:#bbb; font-size:12px; text-shadow: 0 1px 1px rgba(0,0,0,.2); padding-top: 30px;">© 2014 Steppy</p>-->
        <p style="text-align:center; color:#bbb; font-size:12px; text-shadow: 0 1px 1px rgba(0,0,0,.2); padding-top: 30px;" class="pull-right"><a href="" id="back_to_top">Back to top</a></p>
        <p style="text-align:center; color:#bbb; font-size:12px; text-shadow: 0 1px 1px rgba(0,0,0,.2); padding-top: 30px;">© 2014 Steppy, Inc. · <a href="/steppies/privacy.html">Privacy</a> · <a href="/steppies/terms.html">Terms</a></p>
      </div>
    </div>
	</div>


<script type="text/javascript" src="js/scroll_layout.js"></script>



<style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
<style>#barometer_overlay #barometer_main #overlay_header {height: 29px;}</style>
<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8">
  BAROMETER.load('4sLxMS34byd3syLFGSs8w');
</script>

</body>
</html>
