<!DOCTYPE html>
<html>
<head>
  <title>Steppy</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
</head>

<body>
	<div class="page">
		<div class="mynav">
			<div class="container">
				<div class="row">
					<div class="navw">
						<div class="alignleft">
							<a href="/steppies"><img src="/assets/steppy.png" alt="Steppy" style="margin-top: -11px;"></a>	
						</div>
					</div>
					<!-- right nav-->
					<div class="navw">
						<div class="alignleft" style="text-align:right;">
							<%= link_to 'Request a Staircase!', steppies_ask_path, :class => '' %>
							<%= link_to 'Create a Staircase!', new_steppy_path, :class => '' %>
							<!-- current user toggle -->
							<% if current_user %>
								<b><%= link_to current_user.username, current_user %></b>
								<b><%= link_to "Log Out", logout_path %></b>
							<% else %>
								<b><a href="#" id="login">Log In</a></b>
								<b><%= link_to "Sign Up", new_user_path %></b>
								<div class=" login">
									<%= form_tag sessions_path do %>
										<%= text_field_tag :username, nil, placeholder:"Username", :class => "form-control fw"  %>
										<%= password_field_tag :password, nil, placeholder:"Password",  :class => "form-control fw"  %>
										<%= submit_tag "Log in", :class => "btn btn-warning" %>
									<% end %>
								</div>
								
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="appcont ">
			<div class="container">
			<%= yield %>
			</div>
		</div>

		</br>
		<div class="footer2">
			<p style="text-align:center; color:#bbb; font-size:12px; text-shadow: 0 1px 1px rgba(0,0,0,.2); padding-top: 30px;">About Help Blog Status Jobs Ads Terms Privacy Advertisers Businesses Media Developers Resources Directory © 2013 Steppy</p>
		</div>
	</div>
</body>

<script>
      $(document).ready(function() {

      $("#login").click(function(){
         $(".login").slideToggle( [300], function(){ 
             $(".log").text('Slide Down Transition Complete');
          });
      });
   });
</script>

</html>
