<!DOCTYPE html>
<html>
<head>
  <title>Steppy - Stepping towards your goals!</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta property="og:image" content="http://steppy.herokuapp.com/assets/steppy_thumb.png" />
	  <meta property="og:title" content="Steppy" />
	  <meta property="og:description" content="Stepping towards your goals!" />
</head>

<body>
	<div class="page">
		<div class="mynav">
			<div class="container">
				<div class="row">
					<div class="navw">
						<div class="alignleft">
							<a href="/steppies"><img src="/assets/steppy.png" alt="Steppy" style="margin-top: -11px;"></a>
						</div>
					</div>
					<!-- right nav-->
					<div class="navw">
						<div class="alignleft" style="text-align:right;">
							<%= link_to 'Request a Staircase!', steppies_ask_path, :class => '' %>
							<%= link_to 'Create a Staircase!', new_steppy_path, :class => '' %>
							<!-- current user toggle -->
							<% if current_user %>
								<b><%= link_to current_user.username, current_user %></b>
								<b><%= link_to "Log Out", logout_path %></b>
							<% else %>
								<b><a href="#" id="login">Log In</a></b>
								<b><%= link_to "Sign Up", new_user_path %></b>
								<div class=" login">
									<%= form_tag sessions_path do %>
										<%= text_field_tag :username, nil, placeholder:"Username", :class => "form-control fw"  %>
										<%= password_field_tag :password, nil, placeholder:"Password",  :class => "form-control fw"  %>
										<%= submit_tag "Log in", :class => "btn btn-warning" %>
									<% end %>
								</div>
								
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="appcont ">
			<div class="container">
			<%= yield %>
			</div>
		</div>

		</br>
		<div class="footer2">
			<p style="text-align:center; color:#bbb; font-size:12px; text-shadow: 0 1px 1px rgba(0,0,0,.2); padding-top: 30px;">© 2014 Steppy</p>
		</div>
	</div>

<style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8">
  BAROMETER.load('Hp1LreQNM2xdwRdNSNLF3');
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47669324-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

<script>
      $(document).ready(function() {

      $("#login").click(function(){
         $(".login").slideToggle( [300], function(){ 
             $(".log").text('Slide Down Transition Complete');
          });
      });
   });
</script>

</html>
